.env

# Project settings
PROJECT_NAME="Mush Service"
PROJECT_DESCRIPTION="Mush service for the mush store."
SERVICE_URL_MUSH="http://mush-fastapi:8000/store/mush/"
SERVICE_URL_BASKET="http://mush-fastapi:8000/store/basket/"
SERVICE_URL="http://mush-fastapi:8000"

# PostgreSQL settings
SQL_ECHO=False
POSTGRES_DB=mush
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret

POSTGRES_HOST=postgres-mush

POSTGRES_HOST_ETL=postgres
POSTGRES_PORT=5432
DB_TIMEZONE=Europe/Moscow

SQL_OPTIONS=-c search_path=public,content

# Redis settings
REDIS_HOST=redis-mush
REDIS_PORT=6379
REDIS_DB=0

